<form method="get" action="/quizzes">
Búsqueda: <input type="text" name="search" value="" placeholder="Introduzca su búsqueda" />
<input type="submit" value="Buscar">
</form>

<table>
  <% for (var i in quizzes) { %>
    <tr>
      <td>
        <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
      </td>
      <td>
        <a href="/quizzes/<%= quizzes[i].id %>/edit"><button>Editar</button></a>
      </td>
      <td>
       <a href="/quizzes/<%= quizzes[i].id %>?_method=DELETE"
         onClick="return confirm('Borrar: <%= quizzes[i].question %>');">
       <button>Borrar</button></a>
      </td>
    </tr>
  <% } %>
</table>

<a href="/quizzes/new"><button type="button">Crear pregunta</button></a>
